* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.app {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 600px;
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.app > .screen {
  display: none;
}

.app > .screen.active {
  display: block;
  width: 100%;
  height: 100%;
}

.screen .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
}

.screen .form-input {
  width: 100%;
  margin: 20px 0;
}

.screen h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #2a3439;
  border-bottom: 4px solid #ffbf00;
  padding: 2px 0;
  display: inline-block;
}

.screen .form-input label {
  display: block;
  margin-bottom: 5px;
  color: #708090;
  font-weight: 700;
}

.screen .form-input input {
  width: 100%;
  padding: 10px;
  border: 2px solid #9966cc;
  border-radius: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #708090;
  font-weight: 700;
}

.screen .form-input button {
  padding: 10px 20px;
  background: #ffbf00;
  color: #2a3439;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: #9966cc;
    color: #fff;
  }
}

.chat-screen .header {
  background: #ffbf00;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.chat-screen .header .logo {
  font-size: 18px;
  color: #2a3439;
  font-weight: 600;
}

.chat-screen .header button {
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 12px;
  background: #fff;
  color: #2a3439;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  cursor: pointer;
  outline: none;
  &:hover {
    color: #9966cc;
  }
}

.chat-screen .messages {
  width: 100%;
  height: calc(100% - 100px);
  background: #f5f5f5;
  overflow: auto;
}

.chat-screen .messages .message {
  display: flex;
  padding: 10px;
}

.chat-screen .messages .message > div {
  max-width: 80%;
  background: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 12px;
}

.chat-screen .messages .message.my-message {
  justify-content: flex-end;
}

.chat-screen .messages .message.other-message {
  justify-content: flex-start;
}

.chat-screen .messages .message .name {
  font-size: 13px;
  line-height: 19px;
  color: #2a3439;
  font-weight: 700;
  margin-bottom: 5px;
}
.chat-screen .messages .message.my-message .name {
  color: #9400d3;
}

.chat-screen .messages .message .text {
  word-wrap: break-word;
}

.chat-screen .messages .update {
  text-align: center;
  color: #aa98a9;
  font-style: italic;
}
.chat-screen .typebox {
  width: 100%;
  height: 50px;
  display: flex;
}

.chat-screen .typebox input {
  flex: 1;
  height: 50px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  padding: 5px 10px;
  outline: none;
}

.chat-screen .typebox input::placeholder {
  font-size: 16px;
  line-height: 22px;
  color: #708090;
}

.chat-screen .typebox button {
  width: 80px;
  height: 100%;
  background: #9400d3;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  border: none;
  cursor: pointer;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
